:root {
	--color-primary: #fd5147;
	--color-success: #69b56d;
	--color-danger: #db3e3e;

	--color-grey-dark: #333333;
	--color-grey-low: #555555;
	--color-grey-mid: #777777;
	--color-grey-light: #cccccc;

	--color-text-main: #eeeeee;
}

html {
	min-height: 100vh;
	display: flex;
}

body {
	flex: 1;
	margin: 0;
	display: flex;
	font-family: -apple-system, BlinkMacSystemFont, "Calibri", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	flex: 1;
	display: flex;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

div {
	cursor: default;
}
